.registration-container {
  max-width: 400px;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid black;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  background-color: #E0A8A8;
  box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);  }
.registration-title {
  text-align: center;
  font-size: 24px;
  margin-bottom: 20px;
  color:pink;
  text-shadow: rgba(81, 52, 21, 0.8) 3px 0px 7px, rgba(81, 52, 21, 0.8) -3px 0px 7px, rgba(81, 52, 21, 0.8) 0px 4px 7px;
}
  form {
  height: 300px;
  width: 400px;
  background-color: rgba(224, 224, 235, 0.2);
  position: absolute;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
  border-radius: 10px;
  backdrop-filter: blur(2px);
  border: 2px solid rgba(255, 255, 255, 0.1);
  box-shadow: 0 0 40px rgba(8, 7, 16, 0.6);
  padding: 50px 35px;
}
form * {
  color: #fff;
  letter-spacing: 0.5px;
  outline: none;
  border: none;
}
form h3 {
  font-size: 2rem;
  font-weight: 500;
  line-height: 42px;
  text-align: center;
}

label {
  display: block;
  margin-top: 2rem;
  font-size: 1rem;
  font-weight: 400;
  margin-bottom: 5px;
}
input[type="email"],
input[type="password"] {
  width: 100%;
  height: 50px;
  margin-top: 0.5rem;
  padding: 0 10px;
  /* border: 1px solid #ccc; */
  border-radius: 5px;
  font-size: 18px;
  color:black; /* rgb(15, 1, 1) */
  display: block;
 /*  background-color: rgba(255, 255, 255, 0.07); */
  font-weight: 300;
}
button {
margin-top: 1rem;
width: 20%;
background-color: #fff;
color: #080710;
padding: 15px 0;
font-size: 1.1rem;
font-weight: 600;
border-radius: 5px;
cursor: pointer;
transition: all 0.3s ease;
align-items: center;}
button:hover {
background-color: #CECECE;
}
.signButton  {
text-align: center;
justify-content: center;
gap:50px
}
/* Add animation to navigation links when clicked */
.navbar a {
text-decoration: none;
color: #fff;
margin: 0 15px;
font-weight: bold;
position: relative; /* Add relative positioning for pseudo-element */
transition: color 0.3s ease, transform 0.3s ease; /* Add transitions for color and transform */
}
.navbar a::before {
content: "";
position: absolute;
bottom: -3px; /* Adjust the position of the animated line */
left: 0;
width: 100%;
height: 2px; /* Adjust the line height */
background-color: #F1E6E6;
transform: scaleX(0); /* Initial transform value for the line */
transform-origin: right;
transition: transform 0.3s ease; /* Add transition for the line */
}
.navbar a:hover {
color: #4D2BE2;
}
.navbar a:hover::before {
transform: scaleX(1); /* Expand the line when the link is hovered */
transform-origin: left;
}
/*
::placeholder {
color: #E5E5E5;
opacity: 1;
transition: opacity 0.3s ease;
}
:focus::placeholder {
opacity: 0.4;
}
.social {
margin-top: 1.9rem;
display: flex;
justify-content: space-evenly;
} */