
.glassformic{
    display: flex;
    align-items: center;
    margin-left: 500px;
    margin-top: 75px;
}
.muscle-container{
    background-color: red;
    align-items: center;
    text-align: center;
    color: white;
    font-size: 1rem;
    padding: 3px;
    border: 3px;
    border-radius: 2px;
    border: 3px solid white; /* Specify border style, width, and color */
    border-radius: 5px; 
}

#muscleType{
    background-color: blue;
}