/* Login.css */

/* Add your CSS styles for the Login component here */
.registration-container {
  display: flex;
  flex-direction: column;
  align-items: center; /* Center items horizontally */
  justify-content: center; /* Center items vertically */
  max-width: 400px;
  margin: 0 auto;
  padding: 0px;
  border: 30px solid #3498db;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  background-color: #fff;
}

.registration-title {
  text-align: center;
  font-size: 24px;
  margin-bottom: 20px;
  color: #3498db; /* Blue color for the title */
}

.form-group {
  margin-bottom: 15px;
}

.form-label {
  display: block;
  font-weight: bold;
  margin-bottom: 5px;
}

input[type="email"],
input[type="password"] {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
}

.submit-button {
  display: block;
  width: 100%;
  padding: 10px;
  background-color: #3498db;
  color: #fff;
  border: none;
  border-radius: 5px;
  font-size: 18px;
  cursor: pointer;
  margin-top: 10px;
}

.submit-button:hover {
  background-color: #2980b9; /* Slightly darker blue on hover */
}

/* Separate styling for the Register button */
.register-button {
  background-color: #537ae6; /* Custom background color */
  color: #fff;
  padding: 10px 20px;
  text-decoration: none;
  border-radius: 50px;
  margin-bottom: 10px; /* Add margin to move it down */
  align-self: center; /* Center the button vertically */
}

.register-button:hover {
  background-color: #436fd1; /* Custom hover background color */
}
