<<<<<<< HEAD
/* MuscleComponent.css */
.cont {
  background: rgba(
    248,
    248,
    248,
    0.8
  ); /* Use rgba with an alpha value (0.8 for 80% opacity) */
  border-radius: 10px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
  width: 95%; /* Set the width to 80% of the parent container */
  margin: 15px auto; /* Center the container horizontally */
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.custom-input {
  /* Add your custom styles here */
  border: 1px solid black;
  border-radius: 5px;
  font-size: 18px;
  color: #333;
  transition: border-color 0.3s ease; /* Add a transition for smooth hover effect */
  margin-left: 80px;
  /* Define hover styles */
  &:hover {
    border-color: blue; /* Change border color to black on hover */
    /* Add other styles for the hover effect */
    box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
  }
}

/* MuscleComponent.css */
.font {
  font-size: 38px;
  color: #c57aa2; /* Pink color */
  text-shadow: 2px 2px 4px rgba(81, 52, 21, 0.8);
  text-align: center;
  line-height: 1.5;
  display: flex;
  align-items: center;
  justify-content: center;
}

.form-cont {
  display: flex;
  flex-direction: column;
}

input[type="text"] {
  font-size: 16px;
  color: white;
  text-decoration: none;
  margin: 10px;
}

ul.list-cont {
  list-style: none;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 20px 0;
}

ul.list-cont li {
  flex: 1;
  margin: 10px;
  font-size: 23px;
  font-weight: bold; /* Set font weight to bold */
  text-align: center; /* Center the text horizontally */
  text-transform: uppercase; /* Convert text to uppercase */
}

img {
  max-width: 100%;
  margin-bottom: 20px;
  height: auto;
  border-radius: 10px;
  transition: transform 0.2s, border 0.2s, box-shadow 0.2s, background-color 0.2s, opacity 0.2s;
  border: 2px solid transparent;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
  background-color: #fff;
  opacity: 1;
  transform: scale(1.1); /* Scale the image up by 10% on hover */
}

img:hover {
  transform: scale(1.2); /* Scale the image up on hover */
  border: 2px solid white; /* Change the border color on hover (pink in this case) */
  box-shadow: 0 0 10px white; /* Change the box shadow on hover */
  opacity: 0.8; /* Reduce opacity on hover to 80% */
  cursor: pointer;
  
}

.react-player video {
  transition: transform 0.2s ease-in-out, border 0.2s ease-in-out, box-shadow 0.2s ease-in-out, background-color 0.2s ease-in-out, opacity 0.2s ease-in-out;
  border: 2px solid transparent;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
  background-color: #fff;
  opacity: 1;
}

.react-player:hover {
  transform: scale(1.1);
  border: 2px solid white;
  box-shadow: 0 0 10px white;
  opacity: 0.8;
  cursor: pointer;
  transition: transform 0.2s ease-in-out, border 0.2s ease-in-out, box-shadow 0.2s ease-in-out, background-color 0.2s ease-in-out, opacity 0.2s ease-in-out;
}


=======
h2 {
    font-size: 28px;
    margin-bottom: 20px;
    color: pink;
    text-shadow: rgba(81, 52, 21, 0.8) 3px 0px 7px,
      rgba(81, 52, 21, 0.8) -3px 0px 7px, rgba(81, 52, 21, 0.8) 0px 4px 7px;
  }
  


  form {
    display: flex;
    flex-direction: column;
    margin-left: 15px;
  }
  

  .form-section {
    margin-bottom: 20px;
  }
  

  label {
    font-size: 16px;
    margin-bottom: 8px;
    color: rgb(170, 122, 130); /* Dark gray text color */
  }
  
  input,
  select {
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    flex: 4; /* Allow inputs to expand and fill available space */
  }
  


  input:focus,
  select:focus {
    outline: none;
    border-color: #3498db; /* Highlight border color on focus */
  }
  
  /* Add a border to the form sections */
  .form-section {
    border: 1px solid #ccc;
    padding: 20px;
    border-radius: 15px;
  }
  
  /* Style the submit button with a transition effect */
  button {
    background-color: pink;
    width: 250px;
    color: black;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    margin-left: 10px;
    transition: background-color 0.3s;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  }
  
  
  button:hover {
    background-color: rgb(201, 135, 146);
  }
  
  button:disabled {
    background-color: #ccc;
    cursor: not-allowed};




    .font {
      font-size: 38px;
      color: #c57aa2; /* Pink color */
      text-shadow: 2px 2px 4px rgba(81, 52, 21, 0.8);
      text-align: center;
      line-height: 1.5;
      display: flex;
      align-items: center;
      justify-content: center;
    }

    .form-cont {
      display: flex;
      flex-direction: column;
    }

    input[type="text"] {
      font-size: 16px;
      color: white;
      text-decoration: none;
      margin: 10px;
    }
    
    .cont {
      background: rgba(
        248,
        248,
        248,
        0.8
      ); /* Use rgba with an alpha value (0.8 for 80% opacity) */
      border-radius: 10px;
      box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
      width: 95%; /* Set the width to 80% of the parent container */
      margin: 15px auto; /* Center the container horizontally */
      padding: 20px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
    .custom-input {
      /* Add your custom styles here */
      border: 1px solid black;
      border-radius: 5px;
      font-size: 18px;
      color: #333;
      transition: border-color 0.3s ease; /* Add a transition for smooth hover effect */
      margin-left: 80px;
      /* Define hover styles */
      &:hover {
        border-color: blue; /* Change border color to black on hover */
        /* Add other styles for the hover effect */
        box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
      }
    }

    ul.list-cont {
      list-style: none;
      padding: 0;
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      margin: 20px 0;
    }
    
    ul.list-cont li {
      flex: 1;
      margin: 10px;
      font-size: 23px;
      font-weight: bold; /* Set font weight to bold */
      text-align: center; /* Center the text horizontally */
      text-transform: uppercase; /* Convert text to uppercase */
    }

    img {
      max-width: 100%;
      margin-bottom: 20px;
      height: auto;
      border-radius: 10px;
      transition: transform 0.2s, border 0.2s, box-shadow 0.2s, background-color 0.2s, opacity 0.2s;
      border: 2px solid transparent;
      box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
      background-color: #fff;
      opacity: 1;
      transform: scale(1.1); /* Scale the image up by 10% on hover */
    }

    img:hover {
      transform: scale(1.2); /* Scale the image up on hover */
      border: 2px solid white; /* Change the border color on hover (pink in this case) */
      box-shadow: 0 0 10px white; /* Change the box shadow on hover */
      opacity: 0.8; /* Reduce opacity on hover to 80% */
      cursor: pointer;
      
    }

    


    .react-player video {
      transition: transform 0.2s ease-in-out, border 0.2s ease-in-out, box-shadow 0.2s ease-in-out, background-color 0.2s ease-in-out, opacity 0.2s ease-in-out;
      border: 2px solid transparent;
      box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
      background-color: #fff;
      opacity: 1;
    }
    
    .react-player:hover {
      transform: scale(1.1);
      border: 2px solid white;
      box-shadow: 0 0 10px white;
      opacity: 0.8;
      cursor: pointer;
      transition: transform 0.2s ease-in-out, border 0.2s ease-in-out, box-shadow 0.2s ease-in-out, background-color 0.2s ease-in-out, opacity 0.2s ease-in-out;
    }



>>>>>>> 0a758a2ff1cf6ac943d333ac1928201d37439a23
/* Styles for smaller screens (e.g., mobile devices) */
@media (max-width: 768px) {
  .cont {
    width: 90%; /* Adjust width for smaller screens */
    margin: 10px auto; /* Center the container with reduced margin */
  }

  .custom-input {
    margin-left: 0; /* Remove left margin on smaller screens */
  }
<<<<<<< HEAD
}

/* Additional styles for even smaller screens (e.g., phones) */
@media (max-width: 480px) {
  .cont {
    width: 95%; /* Further adjust width for very small screens */
  }
}





=======
}

/* Additional styles for even smaller screens (e.g., phones) */
@media (max-width: 480px) {
  .cont {
    width: 95%; /* Further adjust width for very small screens */
  }
}
>>>>>>> 0a758a2ff1cf6ac943d333ac1928201d37439a23
